html {
    font-size: 22px;
    
}

body {
    background-color: black;
    color: whitesmoke;
}


h1 {
    color: #ff7f50;
}

a:visited {
    color: aqua;
}

.gradient-text {
    background-image: linear-gradient(90deg, red, blue);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: fit-content;


}

figcaption {
    color: red;
}